<h1>Homes index</h1>
<ul><%= link_to "User", users_path %></ul>
<ul><%= link_to "Role", roles_path %></ul>
<ul><%= link_to "Category", categories_path %></ul>
<ul><%= link_to "City", cities_path %></ul>
<ul><%= link_to "Location", locations_path %></ul>
<ul><%= link_to "Event", events_path %></ul>
<ul><%= link_to "Booking", bookings_path %></ul>
<ul><%= link_to "Notification", notifications_path %></ul>
